<footer>
    <div class="mainfoot">
        <p>Copyright &copy; {{year}} <button style="background-color: #111;
    border-color: #111;
    border: none;
    border-radius: 2px;
    color: white;" id="logo"><img class="footerimg" src="/images/logo.png"></button> All
            Rights Reserved
        </p>
    </div>
    <script src="/js/notifications.js" async></script>
</footer>