<h2>Settings</h2>
<div>
    <form name="settings" id="settings" method="POST">
        <h4>Privacy</h4>
        <div>
            <input type="checkbox" name="show_email" id="show_email" value="1"><label for="show_email">Show email</label>
        </div>
        <div>
            <input type="checkbox" name="show_name" id="show_name" value="1"><label for="show_name">Show name</label>
        </div>

        <h4>Notifications</h4>
        <div>
            <input type="checkbox" name="enable_notifications" id="enable_notifs" value="1"><label for="enable_notifs">Enable notifications</label>
        </div>

        <input type="submit" name="submit" id="submit">
    </form>
</div>