<!DOCTYPE html>
<html lang="en">

{{> header}}
<link rel="stylesheet" href="..\public\css\style.css">
<body>
    <div class="container-user">
        <div class="content-header">
            {{> menu}}
        </div>
        <div class="content-user">
            <div class="content-name">
                <h1>{{heading}}</h1>
                <a href="/new_dm/{{user_id}}" id="dm_button">Send Message</a>
            </div>

            <div class="content-name-history">
                <h2>Post History</h2>
                <div id='user_threads'>
                    {{#each thread}}
                    <p>{{title}}</p>
                    <br>
                    {{/each}}
                </div>
            </div>
            <div class="name-checkbox-credentials">
                {{> user_settings}}
            </div>
        </div>

        
        <div class="content-footer">
        {{> footer}}
        </div>
        <div class="content-sidebar1"></div>
        <div class="content-sidebar2"></div>
    </div>
</body>


<script src="/js/script.js"></script>
<script src="../gen_notifs.js"></script>

</html>