<!DOCTYPE html>
<html lang="en">

    {{> header}}
    <link rel="stylesheet" href="..\public\css\style.css">

    <body>
        <div>
            <div>
                {{> menu}}
            </div>
            <div>
                <div>
                    <h1 style="display: inline-block">{{heading}}</h1>
                    <a style="display: inline-block; text-align:center" href="/new_dm/{{user_id}}" id="dm_button">Send
                        Message</a>
                </div>

                <div class="content-name-history">
                    <h2>Post History</h2>
                    <div id='user_threads'>
                        {{#each thread}}
                            <p>{{title}}</p>
                            <br>
                        {{/each}}
                    </div>
                </div>

                <div style="display: flex, justify-content: flex-start">
                    <h2 style="display: inline-block">Email:</h2>
                    <span>{{email}}</span>
                </div>

                {{#if displaySettings}}
                    <div>
                        {{> user_settings}}
                    </div>
                {{/if}}

            </div>

            {{> footer}}


        </div>
    </body>


    <script src="/js/script.js"></script>

</html>