body {
    font-family: Helvetica;
    margin: 0 0 5% 0;
}

/* ------------------------------------------- MENU BAR ------------------------------------------- */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4d99bf;
}

.active {
    background-color: #5cb8e6;
}

.home_link {
    padding: 0;
    margin: 0;
}

.home_icon {
    padding: 5px;
    max-height: 32px;
}

.inbox_icon {
    max-height: 28px;
}

.inbox {
    padding: 7px;
}

.container-1 {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    vertical-align: middle;
}

#search {
    border-radius: 3px;
    padding: 3px;
}

/* ------------------------------------------- LOGIN PAGE ------------------------------------------- */

.login {
    float: right;
}

.username {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.form_container {
    width: 80%;
    margin: auto;
    padding: 16px;
    background-color: white;
}

#form_submit {
    margin-top: 20px;
}

.form_button {
    background-color: #5cb8e6;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px 15px;
}

.form_button:disabled {
    background-color: #f1f1f1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type="password"]:focus {
    box-shadow: none;
}

.diff_pw {
    border: 1px solid red;
    box-shadow: 0 0 0 1px red;
}

.same_pw {
    border: 1px solid green;
    box-shadow: 0 0 0 1px green;
}

#pwd_message {
    font-weight: bold;
    font-style: italic;
}

/* ------------------------------------------- NEW POST PAGE ------------------------------------------- */

.post_text {
    width: 100%;
    padding: 15px;
}

/* ------------------------------------------- FORUM PAGE ------------------------------------------- */
#message_container {
    width: 80%;
    margin: auto;
    padding: 16px;
}

#message_container h1 {
    margin-bottom: 0;
}

.message_list {
    background-color: white;
}

.message_list > li {
    float: none;
    padding: 15px 15px 0 15px;
    margin: 10px;
}

.message_list > li a {
    color: black;
    text-align: left;
}

.poster {
    text-align: right;
    margin: 0;
    font-size: 0.8em;
}

.register_add > p,
.register_add > button {
    text-align: right;
    margin-top: 0;
}

a {
    text-decoration: none;
}

.message_list > li a:hover {
    background-color: white;
    color: #336680;
    font-weight: bold;
}

.message_list > p {
    margin: auto;
}

.reg_link:visited {
    color: #336680;
}

#edit_post_form {
    display: none;
}

#f_username {
    text-align: left;
    display: inline;
    padding: 0;
    color: #336680;
}

/* ------------------------------------------- THREAD PAGE ------------------------------------------- */
#thread_container {
    width: 80%;
    margin: auto;
    padding: 16px;
}

#replies_container {
    width: 95%;
    margin: auto 0 auto auto;
}

#replies_container ul {
    background-color: white;
}

#replies_container li {
    float: none;
    padding: 15px;
    margin: 10px;
}

#replies_container textarea {
    width: 97%;
    padding: 15px;
}

/* ------------------------------------------- USER PROFILE ------------------------------------------- */
.dm_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 0.5em;
    font-size: 0.8em;
}

/* ------------------------------------------- DM PAGE ------------------------------------------- */
.dm_list {
    background-color: white;
}

.dm_list > li {
    float: none;
    padding: 15px 15px 0 15px;
    margin: 10px;
}

.dm_list > li a {
    color: black;
    text-align: left;
}

.dm_list > li a:hover {
    background-color: white;
    color: #336680;
    font-weight: bold;
}

.dm_list > p {
    margin: auto;
}

#dm_username_list {
    height: 70%;
    width: 25%;
    z-index: 1;
    top: 15%;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

#dm_message_list {
    height: 70%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 15%;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}

#dm_messages {
    width: 90%;
    height: 90%;
}

#dm_message_container {
    width: 80%;
    margin: auto;
    padding: 16px;
}

#dm_view_container {
    width: 90%;
    margin: auto;
    padding: 16px;
}

.dm_send_date {
    float: right;
    font-size: 0.8em;
}

/* ------------------------------------------- Footer CSS ------------------------------------------- */
.mainfoot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    margin: auto;
    font: 15px;
}

.footerimg {
    width: 44px;
}
/* ------------------------------------------ User_Settings CSS -------------------------------------------- */
form {
    display: grid;
    grid-template-columns: 50% 50%;
    /* background-color: aqua */
}
.privacy-settings {
    grid-column: 1;
    /* border: 2px solid black;x */
}
.privacy-notification {
    grid-column: 2;
    /* border: 2px solid black; */
}
.privacy-notification #submit {
    float: right;
}

/* ------------------------------------------ User CSS -------------------------------------------- */
.button {
    background-color: #333;
    border-color: #333;
    border: none;
    border-radius: 2px;
    color: white;
}

.button:active {
    background-color: #5cb8e6;
}

.threadButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    background-color: transparent;
    border-color: #333;
    border: none;
    /* border-radius: 2px; */
    color: black;
    font-size: 1em;
}

.threadButton:active {
    background-color: #5cb8e6;
}

.threadButton:focus {
    outline: none;
    font-weight: bold;
}

.lineSpacer {
    width: 100%;
    margin-top: 3px;
    border-bottom: 1px solid black;
}

.container-user {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-auto-rows: auto 3fr auto;
    grid-template-areas:
        "title title title"
        "sidebar1 content sidebar2"
        "footer footer footer";
    justify-content: center;
    text-align: center;
    grid-gap: 2px;
}
.content-header {
    grid-area: title;
    background-color: white;
    border: 1px solid black;
}
.content-user {
    grid-area: content;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: auto 2fr auto;
    grid-template-areas:
        "name name name"
        "history history history"
        "checkbox checkbox checkbox";
    grid-gap: 4px;
    padding: 10px;
    text-align: left;
}
.content-footer {
    grid-area: footer;
    /* border: 1px solid black */
}

.content-sidebar1 {
    grid-area: sidebar1;
    background-color: white;
    /* border: 1px solid black */
}
.content-sidebar2 {
    grid-area: sidebar2;
    background-color: white;
    /* border: 1px solid black */
}

/* ************* SUB CONTENT *****************/

.content-name {
    grid-area: name;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}
.content-name a {
    float: right;
}
.content-name-history {
    float: left;
    grid-area: history;
    height: 40vh;
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    font-size: 15px;
    overflow-y: scroll;
    background-color: lightgray;
}

.name-checkbox-credentials {
    grid-area: checkbox;
    /* border: 1px solid black; */
    padding: 10px;
    height: 50vh;
}

.content-name-history p {
    border-bottom: 1px solid black;
}
